body {
    background: rgb(163, 163, 163);
    justify-content: center;
}

.post {
    background: white;
    width: 550px;
    margin-bottom: 25px;
    /* position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

.post-header {
    justify-content: space-between;
    padding: 12px;
    margin-top: 5px;
    border-bottom: 1px;;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.title {
    background: white;
    justify-content: center;
    margin-bottom: 30px;

}

.container {
    margin: 0 auto;
    justify-content: center;
}

h3 {
    margin: 0;
}

p{
    margin-left: 10px;
    margin-right: 5px;
}

.dates{
    color: rgb(163, 163, 163);
}